@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,700&display=swap");
@import url(../base/_variables.scss);
@import url(../base/_variables.scss);
@import url(../base/_variables.scss);
@import url(../base/_variables.scss);
@import url(../base/_variables.scss);
@import url(../base/_variables.scss);
@import url(../base/_variables.scss);
@import url(../base/_variables.scss);
@import url(../base/_variables.scss);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #112127; }

header {
  position: sticky;
  top: 0%;
  z-index: 1; }
  header div {
    background-color: #112127;
    width: 100%;
    height: 8vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; }
    header div h1 {
      background-color: #112127;
      color: #fefae0;
      font-size: 40px;
      font-style: bold;
      font-weight: 700;
      font-family: 'Overpass', sans-serif; }
    header div a {
      text-decoration: none;
      padding: 10px; }
  header nav {
    width: 100%; }
    header nav ul {
      display: grid;
      grid-template-columns: repeat(5, 20%);
      grid-template-rows: 1fr;
      background-color: #86A59C;
      background-color: #112127;
      list-style: none;
      font-style: normal;
      font-size: 30px;
      font-weight: 300;
      font-family: 'Overpass', sans-serif;
      border-top: #faf5d4 solid 1px;
      border-bottom: #faf5d4 solid 1px;
      text-align: center;
      margin: 0;
      padding: 0; }
      header nav ul li {
        border-inline: solid #faf5d4 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.6s; }
        header nav ul li:hover {
          background-color: #1c3a43; }
        header nav ul li a {
          text-decoration: none;
          color: #faf5d4;
          width: 100%; }
          header nav ul li a:hover {
            color: #faf5d4; }

/*INDEX HERO SECTION AND MAIN*/
.main a {
  text-decoration: none; }

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.123), rgba(0, 0, 0, 0.169)), url(../img/backgroundhero2.jpg);
  width: 100%;
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  .hero div h2 {
    color: #faf5d4;
    font-size: 35px;
    font-style: bold;
    font-weight: 600;
    font-family: 'Overpass', sans-serif;
    text-align: center;
    margin-top: 30px; }
  .hero div h3 {
    color: #faf5d4;
    font-size: 25px;
    font-style: bold;
    font-weight: 600;
    font-family: 'Overpass', sans-serif;
    text-align: center; }

.flex_main_tittle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap; }

.flex_main_search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  margin-top: 10px;
  color: #faf5d4;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Overpass', sans-serif;
  text-align: center;
  text-decoration: #faf5d4; }
  .flex_main_search label {
    font-size: 20px;
    margin-left: 10px; }
  .flex_main_search select {
    margin-left: 10px; }
  .flex_main_search input {
    height: 25px;
    width: 350px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px; }
  .flex_main_search button {
    font-weight: 400;
    font-family: 'Overpass', sans-serif;
    text-align: center;
    text-decoration: #faf5d4;
    height: 27px;
    width: 65px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px; }

.galeria_grid {
  background-color: #162b32; }
  .galeria_grid h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #012022;
    border-top: #faf5d4 solid 1px;
    border-bottom: #faf5d4 solid 1px;
    margin-bottom: 20px;
    color: #faf5d4;
    font-size: 35px;
    font-style: bold;
    font-weight: 600;
    font-family: 'Overpass', sans-serif;
    text-align: center;
    width: 100%;
    height: 60px; }

.galeria_fotos_lospibes {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap; }

.fotos_galeria {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  background-color: #faf5d4;
  margin-bottom: 15px;
  border: #031d25 3px solid;
  height: auto;
  width: auto;
  box-shadow: -1px 0px 21px 7px rgba(0, 0, 0, 0.58) inset;
  -webkit-box-shadow: -1px 0px 21px 7px rgba(0, 0, 0, 0.58) inset;
  -moz-box-shadow: -1px 0px 21px 7px rgba(0, 0, 0, 0.58) inset; }
  .fotos_galeria h3 {
    background-color: #19343d;
    color: #cdc69f;
    font-size: 30px;
    font-style: bold;
    font-weight: 500;
    font-family: 'Overpass', sans-serif;
    text-align: center; }
  .fotos_galeria img {
    display: flex;
    align-items: flex-end;
    padding: 10px 10px 10px 10px;
    height: 392px;
    width: 340px;
    transition: 0.4s ease-out; }
    .fotos_galeria img:hover {
      transform: scale(1.057); }

.foto2 img {
  object-fit: fill; }

.foto4 img {
  object-fit: cover; }

.foto5 img {
  object-fit: cover; }

.foto6 img {
  object-fit: cover; }

.footer_grid {
  background-position: cover;
  background-color: #112127;
  width: 100%;
  height: 150px; }

.footer_section {
  display: flex;
  justify-content: space-around;
  border-top: #faf5d4 1px solid;
  height: auto;
  width: 100%; }

.footer_logo {
  height: 154px;
  width: auto;
  display: flex;
  align-items: flex-end;
  transition: 1s; }
  .footer_logo:hover {
    transform: scale(1.02); }
  .footer_logo a {
    display: flex;
    align-items: flex-start; }

.footer_logo2 {
  height: 154px;
  width: auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  transition: 1s; }
  .footer_logo2:hover {
    transform: scale(1.02); }
  .footer_logo2 a {
    display: flex;
    align-items: flex-start; }

.footer_div {
  height: 100%;
  width: 33%;
  padding: 0px 0px 0px 0px;
  line-height: 1.2; }
  .footer_div h3 {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 10px;
    font-family: 'Overpass', sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #faf5d4; }

.footer_list {
  padding-left: 0px; }
  .footer_list li {
    list-style: none;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    font-weight: 300;
    transition: 0.6s ease; }
    .footer_list li:hover {
      text-decoration: underline;
      cursor: pointer; }
    .footer_list li a {
      color: #faf5d4;
      text-decoration: none; }

.copyright {
  width: 100%;
  background-color: black; }
  .copyright a {
    text-align: center;
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    color: #faf5d4; }

.fixed_social {
  position: fixed;
  right: 2%;
  bottom: 40%;
  display: block;
  border: #264653; }
  .fixed_social ul {
    list-style: none; }
    .fixed_social ul li {
      margin-bottom: 5px;
      padding: 5px; }
      .fixed_social ul li img {
        width: 50px;
        height: 50px; }

/*Pagina de contacto para eventos*/
.contact_art {
  width: 100%;
  height: 40vh;
  background: linear-gradient(rgba(0, 0, 0, 0.387), rgba(0, 0, 0, 0.244)), url(../img/fondoContacto2.jpg);
  background-position-y: 90px;
  background-attachment: fixed;
  background-repeat: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  object-fit: cover; }
  .contact_art p {
    text-decoration: solid;
    color: #fefae0;
    font-size: 58px;
    font-style: normal;
    font-weight: 600;
    font-family: 'Overpass', sans-serif; }
  .contact_art h3 {
    text-decoration: solid;
    color: #fefae0;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    font-family: 'Overpass', sans-serif; }

.contact_flex {
  margin-top: 15px;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  text-align: start; }

.contact_form {
  margin-top: 15px;
  width: 33.3%;
  height: 55vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column wrap; }
  .contact_form h2 {
    text-decoration: solid;
    color: #fbfbfbf5;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    font-family: 'Overpass', sans-serif; }

.contact_div {
  width: 90%; }
  .contact_div h3 {
    font-family: 'Overpass', sans-serif;
    color: #fefae0;
    font-style: normal;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 2px;
    margin-top: 5px;
    text-align: justify; }
  .contact_div input {
    width: 100%;
    height: 25px;
    box-shadow: 0px 3px 7px 0px rgba(247, 243, 219, 0.9);
    -webkit-box-shadow: 0px 3px 7px 0px rgba(247, 243, 219, 0.9);
    -moz-box-shadow: 0px 3px 7px 0px rgba(247, 243, 219, 0.9); }
  .contact_div textarea {
    width: 100%;
    height: 100px;
    box-shadow: 0px 3px 7px 1px rgba(247, 243, 219, 0.9);
    -webkit-box-shadow: 0px 3px 7px 1px rgba(247, 243, 219, 0.9);
    -moz-box-shadow: 0px 3px 7px 1px rgba(247, 243, 219, 0.9); }

.send_button button {
  height: 25px;
  width: 155px;
  margin-top: 10px;
  height: 25px;
  width: 155px;
  background-color: #112127;
  border: 1.5px solid #FEFAE0;
  color: #faf5d4;
  font-size: 15px;
  transition: 0.6s; }
  .send_button button:hover {
    background-color: #1c3a43; }

.contact_socials {
  width: 33.3%;
  height: 46.7vh;
  border: 1px #436370;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column wrap; }

.contact_socials_img {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: flex-end; }
  .contact_socials_img ul {
    display: flex;
    justify-content: center;
    list-style: none; }
  .contact_socials_img li a {
    margin-bottom: 5px;
    padding: 5px; }
  .contact_socials_img li img {
    width: 40px;
    height: 40px;
    background-color: #a3cabf;
    border-radius: 100%;
    padding: 5px;
    margin-left: 18px; }

.contact_social_extra {
  color: #fefae0;
  font-size: 13px;
  font-family: 'Overpass', sans-serif;
  text-align: center; }
  .contact_social_extra h2 {
    margin-top: 15px;
    font-weight: bold; }
  .contact_social_extra h3 {
    color: #fefae0;
    font-weight: 200;
    font-family: 'Overpass', sans-serif;
    margin-top: 5px; }
  .contact_social_extra h4 {
    margin-top: 5px;
    font-style: normal;
    font-weight: 200;
    font-family: 'Overpass', sans-serif;
    margin-top: 5px; }

.contact_frame_map {
  margin-top: 15px;
  width: 33.3%;
  height: 55vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column; }
  .contact_frame_map h2 {
    color: #fefae0;
    font-size: 30px;
    font-family: 'Overpass', sans-serif;
    text-align: center; }
  .contact_frame_map iframe {
    width: 75%;
    height: 75%; }

/*Pagina de crear cuenta*/
.register {
  background-image: url(../img/ranadefondorecortada.jpg);
  background-position: left;
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column wrap;
  text-align: start; }

.reg_in {
  padding-left: 150px; }
  .reg_in h2 {
    padding-top: 20px;
    text-decoration: 1px white underline;
    text-decoration-skip-ink: auto;
    color: #fefae0;
    font-size: 51px;
    font-weight: 300;
    font-family: 'Overpass', sans-serif;
    text-align: center; }
  .reg_in h3 {
    font-family: 'Overpass', sans-serif;
    color: #fefae0;
    font-style: italic;
    font-size: 20px;
    font-weight: 300;
    margin-top: 10px; }

.regin_div p {
  font-family: 'Overpass', sans-serif;
  color: #fefae0;
  font-style: italic;
  font-size: 10px;
  font-weight: 300;
  margin-bottom: 5px; }

.regin_div input {
  width: 500px;
  height: 25px; }

.regin_button button {
  height: 35px;
  width: 155px;
  margin-bottom: 10px; }

/*Pagina de logearse*/
.log_in {
  width: 100%;
  height: 69.7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  align-content: space-around; }
  .log_in h2 {
    color: #fefae0;
    font-size: 51px;
    font-weight: 300;
    font-family: 'Overpass', sans-serif;
    width: 100%; }

.login_div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap; }
  .login_div h3 {
    font-family: 'Overpass', sans-serif;
    color: #fefae0;
    font-style: italic;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 5px;
    margin-top: 25px; }
  .login_div input {
    width: 700px;
    height: 30px; }

.login_button input {
  margin-top: 25px;
  width: 150px; }

.login_recover_data {
  margin-top: 75px;
  margin-bottom: px;
  text-align: center; }
  .login_recover_data a {
    font-family: 'Overpass', sans-serif;
    color: #fefae0;
    font-style: italic;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 5px;
    transition: 0.6s; }
    .login_recover_data a:hover {
      text-decoration: underline; }

.pilars img {
  height: 73vh; }

/*Pagina de quienes somos*/
.bienvenidos h2 {
  background-color: #468199;
  background-size: cover;
  color: #FEFAE0;
  font-size: 40px;
  font-style: bold;
  font-weight: 500;
  font-family: 'Overpass', sans-serif;
  text-align: center; }

.bienvenidos p {
  background-color: #22424d;
  color: #a3cabf;
  font-size: 25px;
  font-style: bold;
  font-weight: 400;
  font-family: 'Overpass', sans-serif;
  text-align: center; }

.container {
  padding: 0px;
  display: flex;
  justify-content: center; }

.grupos_session {
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 100%; }
  .grupos_session h3 {
    color: #FEFAE0;
    font-size: 50px;
    font-style: bold;
    font-weight: 700;
    font-family: 'Overpass', sans-serif;
    text-align: center; }
  .grupos_session div {
    border-radius: 15px; }
    .grupos_session div h4 {
      display: block;
      font-style: normal;
      font-size: 40px;
      font-weight: 700;
      text-decoration: none;
      margin-bottom: 5px;
      text-align: center; }

.card_text {
  position: relative;
  font-style: italic;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Overpass', sans-serif;
  text-align: center; }

.card_toirtis {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: #FEFAE0;
  box-shadow: 1px 0px 22px 8px rgba(2, 3, 3, 0.75);
  -webkit-box-shadow: 1px 0px 22px 8px rgba(2, 3, 3, 0.75);
  -moz-box-shadow: 1px 0px 22px 8px rgba(2, 3, 3, 0.75);
  width: 400px;
  height: 650px; }

.card_silverfrog {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 55px;
  background-color: #FEFAE0;
  box-shadow: 1px 0px 22px 8px rgba(2, 3, 3, 0.75);
  -webkit-box-shadow: 1px 0px 22px 8px rgba(2, 3, 3, 0.75);
  -moz-box-shadow: 1px 0px 22px 8px rgba(2, 3, 3, 0.75);
  margin-bottom: 10px; }

.frog_flute {
  position: absolute;
  top: -13%;
  left: -5.5%; }
  .frog_flute img {
    width: 150px;
    height: 150px; }

.frog_inverse {
  position: absolute;
  left: 88%;
  top: -13%;
  transform: rotatey(180deg); }

.carousel-item.active {
  margin-top: 25px; }
  .carousel-item.active img {
    width: 100%;
    height: 500px; }

.frog_friends {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .frog_friends h2 {
    background-color: #468199;
    background-size: cover;
    color: #FEFAE0;
    font-size: 40px;
    font-style: bold;
    font-weight: 500;
    font-family: 'Overpass', sans-serif;
    text-align: center; }
  .frog_friends p {
    color: #FEFAE0;
    font-size: 40px;
    font-style: bold;
    font-weight: 500;
    font-family: 'Overpass', sans-serif;
    text-align: center;
    margin-top: 15px; }

.frogfriends_h3 {
  width: 100%;
  display: flex;
  justify-content: center; }
  .frogfriends_h3 span {
    margin: 50px 0 50px 0;
    background-color: #012022;
    background-size: cover;
    color: #FEFAE0;
    font-size: 40px;
    font-style: bold;
    font-weight: 500;
    font-family: 'Overpass', sans-serif;
    text-align: center; }

.frogfriends {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }
  .frogfriends .frogfriends_div {
    position: relative;
    transition: 0.6s; }
    .frogfriends .frogfriends_div:hover {
      scale: 1.2; }
    .frogfriends .frogfriends_div img {
      height: 200px;
      width: 200px;
      object-fit: cover;
      margin-bottom: 50px; }
    .frogfriends .frogfriends_div a {
      text-decoration: none;
      color: #faf5d4;
      position: absolute;
      bottom: 20%;
      right: 80px;
      width: 100%;
      height: 25px;
      color: #faf5d4;
      background-color: rgba(8, 8, 8, 0.801);
      text-align: center;
      font-weight: 500;
      font-size: medium;
      transition: 0.6s;
      left: 0%; }
      .frogfriends .frogfriends_div a:hover {
        background-color: #012022; }

.caminantes a {
  width: 90%;
  color: #faf5d4;
  background-color: rgba(8, 8, 8, 0.801);
  text-align: center;
  font-size: smaller;
  transition: 0.6s;
  left: 0%; }
  .caminantes a:hover {
    background-color: #012022; }

.show_container {
  width: 100%;
  height: 63vh; }
  .show_container h2 {
    margin-top: 100px;
    text-decoration: underline;
    color: #fefae0;
    font-size: 51px;
    font-weight: 150;
    font-family: 'Overpass', sans-serif;
    width: 100%;
    text-align: center; }

.music_articles_grid {
  display: grid;
  grid-template-columns: 70%;
  grid-row: auto;
  justify-content: center; }
  .music_articles_grid h1 {
    font-family: 'Overpass', sans-serif;
    color: #faf5d4;
    text-align: center;
    margin: 25px 0px 10px 0px; }
  .music_articles_grid h2 {
    font-family: 'Overpass', sans-serif;
    color: #faf5d4;
    text-align: center;
    margin: 35px 0px 50px 0px; }
  .music_articles_grid p {
    text-align: center;
    text-align: justify;
    text-indent: 15px;
    font-family: 'Overpass', sans-serif;
    font-size: large;
    color: #faf5d4; }
  .music_articles_grid figure {
    height: 100%;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap; }
    .music_articles_grid figure img {
      width: 90%;
      height: 70%; }
    .music_articles_grid figure figcaption {
      margin: 5px;
      font-family: 'Overpass', sans-serif;
      font-style: italic;
      font-size: large;
      color: #faf5d4; }

.music_gallery {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 95%;
  height: auto; }

.card {
  margin-top: 15px;
  border: solid 3px #112127;
  padding: 0; }
  .card h5 {
    text-align: center; }

.card-body {
  width: 100%;
  color: #faf5d4;
  background-color: rgba(8, 8, 8, 0.801);
  text-align: center;
  font-size: medium;
  transition: 0.6s; }

.video_gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap; }
  .video_gallery em {
    width: 100%;
    margin: 5px;
    text-align: center;
    font-family: 'Overpass', sans-serif;
    font-style: italic;
    font-size: large;
    color: #faf5d4; }

/*Pagina de TUNEBOOK*/
.lrp_tunebook_art {
  width: 100%;
  height: 40vh;
  background-image: url(../img/partis2.jpg);
  background-position-y: 500px; }

.lrp_tunebook_text {
  color: #fefae0;
  font-size: 51px;
  font-weight: 150;
  font-family: 'Overpass', sans-serif;
  width: 100%;
  text-align: center; }

.lrp_tunebook_text_a a {
  color: #fefae0;
  font-size: 51px;
  font-weight: 150;
  font-family: 'Overpass', sans-serif;
  width: 100%;
  text-align: center; }

/*Pagina de recuperar contraseña*/
.recover_pass {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  width: 100%;
  height: 71.8vh;
  background-color: #112127; }
  .recover_pass h2 {
    text-align: center;
    margin-bottom: 30px;
    text-decoration: underline;
    color: #fefae0;
    font-size: 51px;
    font-weight: 150;
    font-family: 'Overpass', sans-serif; }

.recover {
  width: 530px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap; }
  .recover h3 {
    font-family: 'Overpass', sans-serif;
    color: #fefae0;
    font-style: italic;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 2px;
    margin-top: 10px; }
  .recover input {
    width: 80%;
    height: 25px; }

.recover_button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .recover_button button {
    height: 35px;
    width: 155px;
    margin-top: 20px; }

.donations {
  width: 100%;
  height: 68vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .donations p {
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    color: blanchedalmond;
    margin: 100px 0 100px 0; }

.botondonacion {
  margin-top: 10px; }

.frogking {
  position: absolute;
  bottom: 50%;
  left: 40%;
  width: 100%;
  height: 80%; }

.carddonation {
  position: relative; }

.tooltip {
  position: relative;
  border-bottom: 1px dotted black; }

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1; }

.tooltip:hover .tooltiptext {
  visibility: visible; }

/* --------------RESPONSIVE header---------------- */
@media screen and (max-width: 1025px) {
  .nav_grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .nav_grid ul {
      width: 100%; } }

@media screen and (max-width: 900px) {
  header nav ul {
    width: 100%;
    font-style: normal;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Overpass', sans-serif;
    border-top: #fefae0 solid 1px;
    border-bottom: #fefae0 solid 1px;
    text-align: center; } }

@media screen and (max-width: 605px) {
  header div h1 {
    font-size: 25px; }
  header nav ul {
    font-style: normal;
    font-size: 15px;
    font-weight: 300;
    font-family: 'Overpass', sans-serif;
    border-top: #fefae0 solid 1px;
    border-bottom: #fefae0 solid 1px;
    text-align: center; } }

/* --------------RESPONSIVE hero and MAIN---------------- */
@media screen and (max-width: 1200px) {
  .galeria_fotos_lospibes {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    justify-items: center; }
  .fotos_galeria {
    margin: 20px 10px 20px 10px; } }

@media screen and (max-width: 1450px) {
  .fixed_social ul {
    display: none; } }

@media screen and (max-width: 768px) {
  .galeria_fotos_lospibes {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    justify-items: center; }
    .galeria_fotos_lospibes img {
      padding: 7px 7px 7px 7px;
      height: 299px;
      width: 250px;
      box-shadow: -1px 0px 21px 7px rgba(0, 0, 0, 0.58) inset;
      -webkit-box-shadow: -1px 0px 21px 7px rgba(0, 0, 0, 0.58) inset;
      -moz-box-shadow: -1px 0px 21px 7px rgba(0, 0, 0, 0.58) inset; }
  .fotos_galeria {
    display: flex;
    flex-flow: column;
    align-content: center;
    background-color: antiquewhite;
    margin-left: 20px;
    margin-bottom: 20px;
    border: black 2px solid;
    height: 349px;
    width: 255px; } }

@media screen and (max-width: 605px) {
  .galeria_fotos_lospibes {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    justify-items: center; }
    .galeria_fotos_lospibes img {
      padding: 8px 8px 8px 8px;
      height: 249px;
      width: 200px;
      box-shadow: -1px 0px 21px 7px rgba(0, 0, 0, 0.58) inset;
      -webkit-box-shadow: -1px 0px 21px 7px rgba(0, 0, 0, 0.58) inset;
      -moz-box-shadow: -1px 0px 21px 7px rgba(0, 0, 0, 0.58) inset; }
    .galeria_fotos_lospibes h3 {
      font-size: 20px; }
  .flex_main_search input {
    width: 300px; }
  .fotos_galeria {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    background-color: antiquewhite;
    margin-left: 10px;
    margin-bottom: 10px;
    border: black 2px solid;
    height: 279px;
    width: 205px; } }

@media screen and (max-width: 455px) {
  .galeria_fotos_lospibes {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    justify-items: center; }
    .galeria_fotos_lospibes img {
      padding: 8px 8px 8px 8px;
      height: 350px;
      width: 300px;
      box-shadow: -1px 0px 21px 7px rgba(0, 0, 0, 0.58) inset;
      -webkit-box-shadow: -1px 0px 21px 7px rgba(0, 0, 0, 0.58) inset;
      -moz-box-shadow: -1px 0px 21px 7px rgba(0, 0, 0, 0.58) inset; }
  .fotos_galeria {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    background-color: antiquewhite;
    margin-left: 10px;
    margin-bottom: 10px;
    border: black 2px solid;
    height: 380px;
    width: 305px; }
  .galeria_fotos_lospibes h3 {
    font-size: 20px; } }

/*---------------- Responsive FOOTER -------------------- */
@media screen and (max-width: 1024px) {
  .footer_logo {
    display: none; }
  .footer_logo2 {
    display: none; } }

@media screen and (max-width: 600px) {
  .footer_div {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Overpass', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #FEFAE0; }
    .footer_div h3 {
      font-size: 20px; }
  .footer_section {
    display: flex;
    justify-content: space-around;
    border-top: #fefae0 1px solid;
    height: 160px; } }

/* ------------ REsponsive PAGINA DE LOGEARSE ------------- */
@media screen and (max-width: 1100px) {
  .login_div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap; }
    .login_div input {
      width: 500px;
      height: 30px; }
  .login_button input {
    margin-top: 25px;
    width: 150px; } }

@media screen and (max-width: 897px) {
  .login_div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center; }
    .login_div input {
      width: 300px;
      height: 30px; }
  .login_button input {
    margin-top: 25px;
    width: 150px; } }

@media screen and (max-width: 675px) {
  .pilars {
    display: none; }
  .login_div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap; }
    .login_div input {
      width: 400px;
      height: 30px; } }

@media screen and (max-width: 600px) {
  .login_div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap; }
    .login_div input {
      width: 200px;
      height: 30px; }
  .login_button input {
    margin-top: 25px;
    width: 150px; } }

/* ------------ Responsive de Crear cuenta ----------- */
@media screen and (max-width: 900px) {
  .reg_in {
    padding-left: 50px; } }

@media screen and (max-width: 600px) {
  .reg_in {
    text-align: center;
    padding-left: 25px; }
    .reg_in h2 {
      font-size: 31px; }
  .regin_div input {
    width: 250px;
    height: 25px; }
  .regin_button button {
    height: 35px;
    width: 155px; } }

/* --------- REsponsive de recuperar contraseña ---------- */
@media screen and (max-width: 600px) {
  .recover {
    width: 80%; } }

/* --------- REsponsive quienes somos ---------- */
@media screen and (max-width: 1047px) {
  .carousel {
    display: none; } }

@media screen and (max-width: 850px) {
  .frog_flute img {
    display: none; }
  .frog_friends p {
    font-size: 30px; }
  .frog_friends h2 {
    font-size: 30px; } }

/* --------- REsponsive contacto para eventos ---------- */
@media screen and (max-width: 1024px) {
  .contact_flex {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    text-align: center; }
  .contact_frame_map {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column wrap;
    width: 100%;
    height: 50%; } }

@media screen and (max-width: 600px) {
  .contact_form {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    text-align: center; }
  .contact_div {
    width: 80%;
    height: 100%; } }

/* ------------  Responsive de galeria para shows -------------  */
/* ------------ Responsive de Musica Irlandesa ----------- */
@media screen and (max-width: 1050px) {
  .video_gallery iframe {
    width: 400px;
    height: 200px; }
  .card {
    padding: 0; } }

@media screen and (max-width: 667px) {
  .music_articles_grid figure figcaption {
    display: none; }
  .music_articles_grid figure img {
    height: 90%; }
  .car-img-top {
    height: 80%; }
  .video_gallery iframe {
    width: 300px;
    height: 150px; } }
