/*Pagina de TUNEBOOK*/
@import url(../base/_variables.scss);

.lrp_tunebook_art {
    width: 100%;
    height: 40vh;
    background-image: url(../img/partis2.jpg);
    background-position-y: 500px;
}

.lrp_tunebook_text {
    color: #fefae0;
    font-size: 51px;    
    font-weight: 150;  
    font-family: 'Overpass', sans-serif;  
    width: 100%;
    text-align: center;
}

.lrp_tunebook_text_a{ 
    a {
    color: #fefae0;
    font-size: 51px;    
    font-weight: 150;  
    font-family: 'Overpass', sans-serif;  
    width: 100%;
    text-align: center;
    }
}